<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.w3.org/ns/widgets"
    id="nat-navigator"
    version="0.2.1">
    <name>nat-navigator</name>
    <description>Nat.js module: Navigator</description>
    <license>MIT</license>
    <keywords>weex,plugin,nat,natjs,navigator,navigation</keywords>
    <repo>https://github.com/natjs/weex-nat-navigator.git</repo>
    <issue>https://github.com/natjs/weex-nat-navigator/issues</issue>

    <!-- ios -->
    <platform name="ios">
        <config-file target="WeexpluginConfig.xml" parent="/*">
            <feature name="WeexNatNavigator">
                <param name="category" value="module" />
                <param name="ios-package" value="WeexNatNavigator" />
                <param name="api" value="nat/navigator" />
            </feature>
        </config-file>
        <header-file src="ios/WeexNatNavigator.h"/>
        <source-file src="ios/WeexNatNavigator.m"/>
    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="Navigator">
                <param name="category" value="module" />
                <param name="android-package" value="com.instapp.nat.weex.Navigator" />
                <param name="api" value="nat/navigator" />
            </feature>
        </config-file>

        <source-file src="android/Navigator.java" target-dir="src/com/instapp/nat/weex/navigator" />
        <source-file src="android/CacheActivity.java" target-dir="src/com/instapp/nat/weex/navigator" />
    </platform>

</plugin>
